@import url("global.css");

table th, table td {
	text-align: left;
}
table {
	border-collapse: collapse;
	border: #161616 4px solid;
}
table th, table td {
	border: #202020 3px solid;
}
blockquote {
	background: #161616;
	border: 1px #202020 solid;
	border-left: 4px #272D37 solid;
	border-radius: 2px;
	margin-right: 0;
	margin-left: 0;
}
blockquote p {
	margin-left: 25px;
	margin-right: 15px;
	margin-top: 5;
	margin-bottom: 5;
	text-align: right;
}
