html {
	background-color: #0C0C0C;
	color: lavender;
	font-family: sans-serif;
}
::selection {
    background-color: #262751;
}
h1 {
	font-size: 150%;
}
a {
	color: lightsteelblue;
}
a:visited {
	color: plum;
	opacity: 90%;
}
a:hover, a:visited:hover {
	color: aquamarine;
}

@media screen and (min-width: 900px) {
	body {
		margin-top: 20px!important;
		width: 900px;
		margin: auto;
	}
}
