@import url("global.css");

#portal {
	display: flex;
	flex-flow: row wrap;
	column-gap: 30px;
}
#avatar {
	flex: 0 1 auto;
	margin-left: 20px;
	margin-bottom: 8px;
}
#card-section {
	flex: 0 1 320px;
	background-color: #161616;
	border-radius: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: center;
	margin-bottom: 10px;
	color: lightsteelblue;
}
#card-section #card-command {
	opacity: 80%;
}

#places {
	text-align: center;
}
#places a {
	text-decoration: none;
}
#places:before {
	content: "¦ ";
	color: #707070;
}
#places:after {
	content: " ¦ ";
	color: #707070;
}
#places place:not(:first-of-type):before {
	color: #707070;
	content: " : ";
}

#taglist button {
	margin-right: 5px;
	background-color: #DDA0DD4d;
	color: plum;
	font-family: inherit;
	border-color: plum;
	border: none;
	border-radius: 2px;
}
#taglist button:hover {
	background-color: #ADD8E64d;
	color: lightblue;
}
#taglist button[enabled="true"] {
	color: aquamarine;
	border-color: aquamarine;
	background-color: #7FFFD44d;
}

#articles {
	list-style: none;
	padding-left: 0;
}
.article-entity tags {
	display:none;
}
.article-entity:before {
	content: "δ";
	color: palevioletred;
	padding-right: 5px;
}
.article-entity date {
	padding-right: 5px;
	color: slategrey;
}
.article-entity a {
	text-decoration: none;
}
.article-entity[disabled="true"] {
	display: none;
}

@media screen and (min-width: 900px) {
	#portal {
		justify-content: center;
	}
}
